<h1>{{name}}</h1>
<h2 #h1>這是 ng2 元件！</h2>
<div class="btn btn-primary" (click)="show(eng)"><span>按</span>我一下</div>
<engine id="engine" #eng></engine>
<!--<engine #engs *ngFor="let e of engine_list">  </engine>-->
<highlight #line></highlight>

<div class="btn" [class.btn-warning]="isPrimary" (click)="changeCss()">第一種寫法</div>
<div class="btn" [ngClass]="{'btn-warning': isPrimary}" (click)="changeCss()">第二種寫法</div>